{% extends 'base.htm' %}
{% load my_filters %}

{% block content %}
{% include 'header_nav.htm' %}

<div class="container mt-5" style="width: 45em; box-shadow: 2px 0px 10px grey; border-radius: 6px;">
    <div class="p-3" style="width: 100%; margin: auto; margin-top: 4em; margin-bottom: 0.8em;">
        <table class="table">
            <thead class="bg-secondary text-light">
                <th>#</th>
                <th>Product</th>
                <th>Cost</th>
                <th>Edit</th>
            </thead>

            {% for product in mycart.product.all %}
            <tr>
                <td> {{forloop.counter}}. </td>
                <td> <a href="{% url 'product-detail' product.id %}">{{ product }}</a> </td>
                <td> {{ product.unit_price|discount:product.discount }} </td>
                <td> <a href="{% url 'remove-from-cart' product.id %}"> Remove </a> </td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>

<div class=" container pl-3 pr-3 pb-1"
    style="margin: auto; width: 45em; box-shadow: 2px 5px 15px grey; border-radius: 6px; margin-bottom: 6em;">
    <table class="table">
        <thead class="bg-secondary text-light">
            <th>PRICE DETAILS</th>'
            <th></th>
        </thead>
        <tfoot class="bg-secondary text-light">
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
        <tr>
            <td>Amount</td>
            <td>{{ mycart.total }}</td>
        </tr>
        <tr>
            <td>Delivery Charges</td>
            <td class="text-success"> FREE </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Total Amount</td>
            <td>{{ mycart.total }}</td>
        </tr>
    </table>
    <div class="d-flex justify-content-between mb-2">
        <a href="{% url 'products-page' %}" class="btn btn-light" style="width: 12em;">&lt;&lt; Keep Shopping</a>
        <a href="{% url 'order-summary' %}" class="btn btn-success" style="width: 12em;">Place Order</a>

    </div>
</div>

{% include 'footer.htm' %}
{% endblock %}