<div class="navbar navbar-expand-lg navbar-dark bg-dark mb-4" role="navigation">

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto category-nav">
            <li class="nav-item dropdown border-right-white">
                <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" href="#">Electronics</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown1">
                    <li class="dropdown-item" href="#"><a href="#">Laptops</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Mobiles</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Mobile Acessories</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Television</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" href="#">Men</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown1">
                    <li class="dropdown-item" href="#"><a href="#">Footwear</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Clothing</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Ethnic wear</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Beauty & Grooming</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" href="#">Women</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown1">
                    <li class="dropdown-item" href="#"><a href="#">Footwear</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Clothing</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Ethnic wear</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Beauty & Grooming</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" href="#">Baby & Kids</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown1">
                    <li class="dropdown-item" href="#"><a href="#">Clothing</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Footwear</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Toys</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Baby category-nav</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" href="#">TVs & Appliances</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown1">
                    <li class="dropdown-item" href="#"><a href="#">Televisions</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Refrigerators</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Washing Machines</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" href="#">Health & Nutrition</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown1">
                    <li class="dropdown-item" href="#"><a href="#">All Products</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Protein</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Vitamin</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Health Drinks</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" href="#">Home & Furniture</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown1">
                    <li class="dropdown-item" href="#"><a href="#">Kitchen and Cookwear</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Furniture</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Furnishing</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Home Decor</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" href="#">Sports & Books</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown1">
                    <li class="dropdown-item" href="#"><a href="#">Sports Accessories</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Fitness</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Entrance Books</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Novels</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" href="#">Gaming & Music</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown1">
                    <li class="dropdown-item" href="#"><a href="#">Music Instruments</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Music</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Gaming Console</a></li>
                    <li class="dropdown-item" href="#"><a href="#">Gaming Accessories</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>